.App {
  text-align: center;
  display: block;
  padding: 15% 30%;
  
}
.heading{
  text-align: center;
  display:block;
  padding: 30px;

}
.profilephoto{
  
  display:block;
  margin:0 auto;
  margin-bottom: 30px;
 

 
  
  
}
.signOut{
  padding:5px;
  display:block;
  margin: 20px auto;
  bottom: 10%;
  text-align: center;
  
}



